.Profile__header {
    margin-left: 200px;
    display: flex;
}

.profileName {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
}

.postNum {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}