.Profile__header {
    margin-left: 200px;
    display: flex;
}

.profileName {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
}

.postNum {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
}

.btn_unfollow {
    background: rgb(231, 186, 231);
    border: 1px solid purple;
    border-radius: 4px;
    margin-left: 100px;
}

.btn_follow {
    background: rgb(209, 209, 252);
    border: 1px solid blue;
    border-radius: 4px;
    margin-left: 100px;
}