.Header {
    height: 60px;
    background: linear-gradient(#fff699, #b8e1a5, rgb(219, 135, 219), #ff6493, #fff699);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}