.HeaderProfile {
    text-decoration: none;
    display: flex;
    // width: max-content;
    align-items: center;
}

.avatarAndName {
    display: flex;
    align-items: center;
}

.logOut {
    margin-left: 15px;
    font-size: 25px;
}