.Register {
    width: 300px;
    margin: 60px auto;
    padding: 15px;
    border: 1px solid #530540;
    border-radius: 3px;
    color: #333333;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 34px 25px rgba(255,123,243,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 34px 25px rgba(255,123,243,0);
  
    &__title {
      font-size: 25px;
      color: #c255ef;
    }
  
    .form-group {
      margin-top: 15px;
    }
  
    input {
      width: 100%;
      height: 36px;
      line-height: 1em;
      border: 1px solid #c255ef;
      border-radius: 3px;
      padding: 5px;
      color: #662483;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    .btn-register {
      width: 100%;
      height: 36px;
      color: rgb(255, 255, 255);
      font-size: 16px;
      background-color: #8437a5;
      border: 1px solid #000000;
      border-radius: 3px;
      transition: background-color 250ms;
  
      &:hover {
        background-color: #501f64;
      }
    }
  
    .error {
      color: red;
      font-size: 12px;
      padding-left: 7px;
      margin-top: 3px;
    }
  }