.Post {
    width: 400px;
    height: 650px;  
    border: 2px solid #f1f1f1;
    margin: 15px 0;
    border-radius: 3%;
    overflow: auto;

    &__footer {
        height: 150px;
    }

    &__createComment {
        margin-left: 15px;
        margin-top: 15px;
    }
}

.PostDate {
    padding: 10px;
    background: #f9f9f9;
    color: #888888;
    font-size: 12px;
}

.postPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 67%;
    height: 400px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 600px;

    &:hover {
        transform: scale(1.1);
    }
}

.postContent {
    padding: 0 15px;
    margin-top: 15px;
    color: #444444;
    font-size: 14px;
    line-height: 1.5em;
}

.likes {
    padding: 0 10px;
    color: #444444;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
}

.PostUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.postUserName {
    margin-left: -140px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.btnCreateComment {
    background: rgb(245, 214, 77);
    border: 1px solid rgb(56, 48, 11);
    border-radius: 4px;
    margin-right: 10px;
}

.dateAndDelete {
    display: flex;
    align-items: center;
}

.trash {
    margin-left: 10px;
}