.btn_unlike {
    background: rgb(231, 172, 172);
    border: 1px solid red;
    border-radius: 4px;
    margin-right: 10px;
}

.btn_like {
    background: rgb(179, 238, 179);
    border: 1px solid green;
    border-radius: 4px;
    margin-right: 10px;
}